<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests"  thread-count="1">
  <test thread-count="5" name="Test"">
    <classes>
     <!--  <class name="com.ActionsVsAction"/>
      <class name="com.ReadAndWriteToExcel"/>
      <class name="com.PageFactoryTest"/>
      <class name="com.WindowHandleToGetTestFromSecondWindow"/>
      <class name="com.DataProviderTest"/>
      <class name="com.TestBrokenLinks"/>
      <class name="com.ReadTextFromPDF"/>
      <class name="com.TestBase"/>
      <class name="com.DemoTest"/>
      <class name="com.LoginWhatsApp"/>
     -->
     <class name ="TestTestNG"/>
       </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
